img {
	margin-bottom: 1.5rem;
}

img:hover {
	filter: drop-shadow(0 0 2em #673ab8aa);
}

.home section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

h1 {
	color: #CC232A;
	text-shadow: 5px 5px 5px #000;
}

.fortune-cookie {
	cursor: pointer;
	display: inline-block;
	background-color: #CC232A;
	border-radius: 50%;
	padding: 20px;
}

.message {
	background-color: #f2dcb1;
	border-radius: 12% 4% / 15% 80%;
	color: black;
	font-size: 20px;
	padding: 20px 50px;
	margin-bottom: 30px;
}

.new-cookie {
	padding: 10px 20px;
	color: black;
	background-color: #CC232A;
	border-color: #CC232A;
	margin-top: 30px;
}

@media (max-width: 639px) {
	.home section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
}
